<app-nav-admin></app-nav-admin>
<div class="container mt-5">
    <div class="card-header">
        <h1 class="text-center">Historial porcentajes</h1>
    </div>
    <div class="card-body">
        <table id="storeTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Porcentaje</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                    <td>a</td>
                </tr>
        </table>
    </div>
</div>