<app-nav-paciente></app-nav-paciente>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Resultados de laboratorio</h2>
                    
                </div>
                <div class="card-body">
                    <table id="storeTable" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Solicitud</th>
                                <th scope="col">Laboratorio</th>
                                <th scope="col">Resultados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of solicitudes">
                                <td>{{h.id}}</td>
                                <td>{{h.idLaboratorio}}</td>
                                <td>
                                   <button class="btn btn-primary" (click)="ver(h)">Ver resultados</button>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
