<form [formGroup]="form" (ngSubmit)="usar()" class="row g-3">
    <div class="col-auto">
        <label for="porcentaje" class="mt-2">Elegir porcentaje:</label>
        <select formControlName="porcentaje" class="form-control" id="porcentaje" required name="porcentaje">
            <option *ngFor="let h of historialInfo" [value]="h.porcentaje">
                {{h.porcentaje}}</option>
        </select>
    </div>
    <div class="col-auto">
        <br>
        <button type="submit" class="btn btn-primary mb-3 mt-2" [disabled]="!form.valid">
            Usar y guardar cambios
        </button>
    </div>
</form>
<form [formGroup]="form2" (ngSubmit)="agregar()" class="row g-3">
    <div class="col-auto">
        <label for="nuevo" class="mt-2">Ingresar nuevo:</label>
        <input formControlName="nuevo" type="number" name="nuevo" class="form-control" id="fecha1" required=""
            min="0.0001" max="1" step="0.001">
    </div>
    <div class="col-auto">
        <br>
        <button type="submit" class="btn btn-primary mb-3 mt-2" [disabled]="!form2.valid">
            Ingresar nuevo
        </button>
    </div>
</form>