<app-nav-paciente></app-nav-paciente>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card mt-2">
                <div class="card-header pt-4">
                    <a class="btn btn-primary" (click)="changeStatus()">Seleccionar laboratorio</a>
                    <hr>
                    <form [formGroup]="form" (ngSubmit)="seleccionarLaboratorio()" class="mx-3" *ngIf="!seleccionado">
                        <div class="d-flex">
                            <div class="col-auto">
                                <label for="lab" class="form-label">Elegir por nombre:</label>
                                <select class="form-control" id="lab" required formControlName="lab" name="lab">
                                    <option *ngFor="let e of laboratorios" [value]="e.nombre">{{e.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <br>
                                <button type="submit" class="btn btn-primary mt-2 mx-2"
                                    [disabled]="!form.valid">Seleccionar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body" *ngIf="seleccionado">
                    <div class="d-flex">
                        <form [formGroup]="form2" (ngSubmit)="seleccionarExamen()" class="mx-3">
                            <div class="d-flex">
                                <div class="col-auto">
                                    <label for="examen" class="form-label">Seleccionar examen:</label>
                                    <select class="form-control" id="lab" required formControlName="examen"
                                        name="examen">
                                        <option *ngFor="let e of examenens" [value]="e.nombre">{{e.nombre}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <br>
                                    <button type="submit" class="btn btn-primary mt-2 mx-2"
                                        [disabled]="!form.valid">Agregar examen</button>
                                </div>
                            </div>
                        </form>
                        <div class="col mt-2">
                            <br>
                            <button class="btn btn-success" (click)="enviarSolicitud()">Enviar solicitud</button>
                        </div>
                    </div>
                    <table id="storeTable" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Examen</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let h of examenesSolicitados">
                                <td>{{h.nombre}}</td>
                                <td>{{h.descripcion}}</td>
                                <td>{{h.precio}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>