<app-nav-laboratorio></app-nav-laboratorio>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center"><strong>Subir resultados</strong></h1>
                    <button class="btn btn-success">Marcar como finalizada</button>
                </div>
                <div class="card-body">
                    <table id="storeTable" class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Examen</th>
                                <th scope="col">Subir resultados.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of examenes">
                                <td>{{d.nombre}}</td>
                                <td>
                                    <form action="" *ngIf="d.examen.estado==false">
                                        <div class="mb-3">
                                            <label for="formFileLg" class="form-label"></label>
                                            <input name="pdf" class="form-control form-control-lg" id="formFileLg"
                                                type="file" (change)="chooseFile($event)" accept=".pdf">
                                        </div>
                                        <button type="button" class="btn btn-warning" (click)="saveFile(d)">
                                            Guardar archivo
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>