<main class="form-signin mt-5">
  <div class="container text-center mt-5">
    <div class="row justify-content-center">
      <form (ngSubmit)="iniciarSesion()" #userForm="ngForm" class="mt-5">
        <h1 class="h3 mb-4 fw-normal">Iniciar sesión</h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <div *ngIf="msgLogin!=''" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{msgLogin}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h4 class="text-warning"></h4>
        <div class="form-floating">
          <input [(ngModel)]="user.username" type="text" name="username" class="form-control" id="username"
            placeholder="Nombre de usuario">
          <label for="floatingInput">Nombre de usuario</label>
        </div>
        <div class="form-floating">
          <input [(ngModel)]="user.password" type="password" name="pass" class="form-control" id="pass"
            placeholder="Password">
          <label for="floatingPassword">Contraseña:</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!userForm.form.valid">Ingresar</button>
      </form>
    </div>
    <hr>
    <button class="btn btn-success" type="button" (click)="crearCuenta()">Crear cuenta</button>
  </div>
</main>